<section class="splash">
  <div class="splash-logo-container">
    <h2 class="splash-logo">Fuugal</h2>
  </div>

  <div class="splash-btn-wrapper">
    <%= link_to "Log in", new_user_session_path, class: "btn primary-btn" %><br />
    <%= link_to "Sign up", new_user_registration_path, class: "btn tertiary-btn" %><br />
  </div>
</section>