<header>
  <% if request.path == root_path  %>
    <button type="button" title="mobile menu open button" class="menu-btn">
      <span class="bar"></span>
    </button>
  <% else %>
    <%= link_to :back, class: "nav-btn" do %>
      <span class="ptr"></span>
    <% end %>
  <% end %>

  <% if request.path == new_user_registration_path %>
    <h3 class="nav-header">REGISTER</h3>
  <% elsif request.path == new_user_session_path %>
    <h3 class="nav-header">LOG IN</h3>
  <% elsif request.path == new_user_password_path or request.path == edit_user_password_path %>
    <h3 class="nav-header">PASSWORD</h3>
  <% elsif current_user && request.path == user_path(current_user) %>
    <h3 class="nav-header">PROFILE</h3>
  <% elsif current_user && request.path == edit_user_registration_path(current_user) %>
    <h3 class="nav-header">EDIT USER</h3>
  <% elsif request.path == categories_path || request.path == new_category_path || request.path == edit_category_path || request.path == category_path %>
    <h3 class="nav-header">CATEGORY</h3>
  <% else %>
    <h3 class="nav-header">USER</h3>
  <% end %>
</header>